[submodule "content/blog/external_data/periodization-meta-analysis"]
	path = content/blog/external_data/periodization-meta-analysis
	url = https://github.com/tmastny/periodization-meta-analysis.git
[submodule "content/blog/external_data/git-blogdown-workflow"]
	path = content/blog/external_data/git-blogdown-workflow
	url = https://github.com/tmastny/git-blogdown-workflow
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/tmastny/hugo-xmin.git
[submodule "blogdown/submodules/tsrecipes"]
  path = blogdown/submodules/tsrecipes
  url = https://github.com/tmastny/tsrecipes.git
